//
//  Staging.xcconfig
//  CurrencyConverter
//
//  Created by Zay Yar Phyo on 20/08/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

APP_BUNDLE_DISPLAY_NAME = Staging
APP_BUNDLE_IDENTIFIER = com.zayar.CurrencyConverter.staging
